Origin: XBian
Package: xbian-package-libtag
Version: 1.0
Section: utils
Priority: optional
Architecture: armhf
Depends: xbian-package-xbmc (>=2.3)
Provides: libtag1-dev, libtag1-vanilla, libtag1c2a
Conflicts: libtag1-dev, libtag1-vanilla, libtag1c2a, libtag1-rusxmms
Maintainer: Koenkk <development@xbian.org>
Description: libtag for XBian
